
/* NEW */

.app-layout {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.map-inner {
    width: 100%;
    height: 100%;
}